:root {

    --branco: hsl(0, 0%, 100%);
    --Lightgrey: hsla(218, 7%, 48%, 0.781);
    --MediumGrey: hsla(220, 10%, 28%, 0.248);
    --DarkBlue: hsl(212, 20%, 13%);
    --VeryDarkBlue: hsl(216, 12%, 8%);


    font-family: 'Overpass', sans-serif;

}

*>a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
}

body {
    background-color: var(--VeryDarkBlue);
    max-width: 100%;

}

main {

    color: var(--branco);
    font-size: 0.75em;
    Display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

ul {

    display: flex;
    margin: auto;
    align-items: center;
    padding-inline-start: 0px;
    margin: 10px;

}

li {
    list-style-type: none;
    padding: 15px;
    background-color: var(--MediumGrey);
    border-radius: 90px;
    margin-right: 10px;
    height: 12px;
    width: 12px;

}

.cartões {
    background-color: var(--DarkBlue);
    max-width: 250px;
    max-height: 280px;
    padding: 30px;
    border-radius: 25px;
    margin-top: 50px;

}

.cartão-pesquisa>img {
    background-color: var(--MediumGrey);
    padding: 7px;
    border-radius: 45px;
    text-align: left;
}

.cartão-agradecimento {
    text-align: left;

}

.cartão-pesquisa>button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    background-color: hsl(25, 97%, 53%);
    padding: 10px;
    border-radius: 50px;
    border: none;
    color: #575757;



}

.cartão-pesquisa>button:hover {
    background-color: var(--branco);

}

.hide {
    display: none;
}

.ativo {
    display: block
}

footer {
    margin-top: 100px;
    background-color: #575757;
    font-size: 0.7em;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
}